<!-- <div class="container marginTop">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> 
      <div class="row">
        <div class=" col-md-6 text-center">
          <label for="User_Name">UserName </label>
          <input id="User_Name" type="text" formControlName="userName">
      </div>
      </div>
      <div class="row">
        <label for="password">Password </label>
        <div class=" col-md-6 text-center marginChild">
          
          <input id="last-name" type="password" formControlName="password">
      </div>
      </div>
      

      <div class="row">
        <div class=" col-md-6 text-center marginChild">
          <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      </div>
      </div>
    
      </form>

</div> -->

<div class="container marginTop">
  <div class="col-md-5">
    <div class="card" style="width: 100%;">
      <div class="card-body marginLeft">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> 
          <div class="row">
            <div class=" col-md-6 text-center">
              <label for="User_Name"class="childLabel" >UserName </label>
              <input id="User_Name" type="text" formControlName="userName">
          </div>
          </div>
          <div class="row">
            <div class=" col-md-6 text-center ">
              <label for="password" class="childLabel">Password </label>
              <input id="last-name" type="password" formControlName="password">
          </div>
          </div>
          
    
          <div class="row">
            <div class=" col-md-6 text-center ">
              <button class="btn btn-primary" type="submit" style="margin-top: 8%;" [disabled]="!profileForm.valid">Submit</button>
          </div>
          </div>
        
          </form>
      </div>
    </div>
  </div>

</div>
