.marginTop{
    margin-left: 30%;
    margin-top: 10%;
}
.marginChild{
    margin-top: 1%;
}
.marginLeft{
    margin-left: 35%;
}
.childLabel{
    margin-right: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}