<div class="container marginTopParent"> 
    <div class="card" style="width:100%">
        <div class="card-body">
          <h5 class="card-title text-center">    The easiest way to buy and sell stocks</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
    <h1 class="col-md-12"> 
    
    </h1>
</div>

    <div class="container marginTopParent">
      <form [formGroup]="searchForm">
        <input  formControlName="text" placeholder="Search for company" type="search" id="form1" class="form-control" > 
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let i of companyDetails"  (click)="onSubmit(i)"> {{i.name}}</li>
          
          </ul>
        </form>
    </div>


    <div class="container marginTopParent" *ngIf ="disable" >

    <div  class="card" style="width:100%">
        <div class="card-body">
          <h5 class="card-title"> {{nseDetails.name}}</h5>
            <div class="row marginTop">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            Market Cap 
                        </div>
                        <div class="col-md-6 colourText">
                            <span>&#8377;</span> {{nseDetails.marketCap}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            Dividend Yield 
                        </div>
                        <div class="col-md-6 colourText">
                            {{nseDetails.dividendYield}}%
                        </div>
                    </div>
                
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            Deb To Equity  
                        </div>
                        <div class="col-md-6 colourText">
                            {{nseDetails.debToEquity}}%
                        </div>
                    </div>
                </div>
            </div>
      
          <div class="row marginTop">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6 ">
                            Current Market Price
                        </div>
                        <div class="col-md-6 colourText">
                            <span>&#8377;</span> {{nseDetails.currentMarketPrice}}
                        </div>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 ">
                        Roce
                    </div>
                    <div class="col-md-6 colourText">
                        <span>&#8377;</span>         {{nseDetails.roce}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 ">
                        Eps
                    </div>
                    <div class="col-md-6 colourText ">
                        <span>&#8377;</span> {{nseDetails.eps}}
                    </div>
                </div> 
            </div>
        </div>
        <div class="row marginTop">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        Stock PE
                    </div>
                    <div class="col-md-6 colourText">
                        {{nseDetails.stockPE}}%
                    </div>
                </div>
             
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        Roce Previous Annum
                    </div>
                    <div class="col-md-6 colourText">
                        {{nseDetails.rocePreviousAnnum}}%
                    </div>
                </div>   
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        Reserves
                    </div>
                    <div class="col-md-6 colourText">
                        <span>&#8377;</span> {{nseDetails.reserves}}
                    </div>
                </div>   
                 
            </div>

        </div>
        </div>
      </div>

    </div>

    
